body {
    background: #28666e;
    font-family: Helvetica;
    color: white;
    margin-right: 250px;
    margin-left: 150px;
    margin-top: 50px;

}
#bio {
    float: right;
    margin-left: 750px;
    position: relative

}

#projectList li {
    padding: 30px;
    
}