body {
    background: #28666e;
    font-family: Helvetica;
    color: white;
    height: 500px;
    width: 1000px;
    margin-left: 150px;
    margin-top: 50px;
}
#bio {
    float: right;
    position: relative;
    width: 500px;
    text-align: center;
   
}

.leftside {
    margin-left: 50px;
    text-align: left;
    position: relative;
}

#projectList {
    padding-right: 30px;
    width: 300px;
    text-align: left
}


img {
    max-width: 200px;
    height: auto;
    position: relative;
    margin: auto;
    opacity: 0.25;
    padding-top: 15px;
    padding-bottom: 15px;

}

.topnav {
    padding-bottom: 50px;
    
}

.topnav a {
    float: left;
    text-align: left;
    padding: 14px;
    font-size: 17px;
    color: white;
    

}




