body {
    background: #28666e;
    font-family: Helvetica;
    color: white;
    height: 500px;
    width: 1000px;
    margin-left: 150px;
    margin-top: 50px;
}
#bio {
    float: right;
    position: relative;
    width: 500px;
    text-align: center;
   
}

#projectList {
    position: relative;
    padding: 30px;
    width: 250px;
}


img {
    max-width: 200px;
    height: auto;
    position: relative;
    margin: auto;
    opacity: 0.25;
    padding: 15px;

}

.topLine {
    display: inline-block;
}




